@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.form_container{
  width: fit-content;
  border-radius: 10px;
  border: solid;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 50px;
}
.serch-box{
  font-size: 50px;
  border-color: black;
}
.serch-box:hover{
  border-color: blue;
}
.back{
  background:url('./assets/background.jpg');
}
